doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title tim brack
        link(rel="stylesheet" href="style.css")
    body 
        .m-div 
            p 
                .p hi. my name is 
                span#txt tim. 
                .p im an awarded senior art director 
                span working 
                .p for jung von matt.
        #render
            .q tim brack, art director
        script(src="./logic.js") 